@model TestProject.Models.Students
@{
    ViewBag.Title = "Добавление нового ученика";
}

<form asp-action="Add" asp-controller="Students">
    <div class="form-group">
            <label asp-for="LastName" class="custom-control-label">Фамилия</label>
            <input type="text" asp-for="LastName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="FirstName" class="custom-control-label">Имя</label>
        <input type="text" asp-for="FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Добавить" />
    </div>
</form>
