@model TestProject.Models.Students
@{
    ViewBag.Title = "Удаление ученика";
}

<div>
    <dl>
        <dt>Класс:</dt>
        <dd>
            @Html.DisplayFor(model => model.ClassName)
        </dd>
        <dt>ФИО:</dt>
        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
    </dl>
    <div>
        <form asp-controller="Students" asp-action="Delete" asp-route-classname="@Model.ClassName" asp-route-id="@Model.Id">
            <div class="form-group">
                <input type="submit" value="Удалить" />
            </div>
        </form>
    </div>
</div>
