@model TestProject.Models.SubjectGrade
@{
    ViewBag.Title = "Внесение оценки по предмету";
}

<form asp-action="Edit" asp-controller="SubjectGrade" asp-route-id="@Model.Id" asp-route-className="@Model.ClassName" asp-route-studentId="@Model.StudentId" asp-route-subjectName="@Model.SubjectName">
    <div class="form-group">
        <label asp-for="Date">Укажите дату:</label>
        <input type="date" asp-for="Date" class="form-control" />
        <label asp-for="Grade">Укажите оценку:</label>
        <input type="number" min="1" max="12" value="1" asp-for="Grade" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить" />
    </div>
</form>
