@model IEnumerable<TestProject.Models.Classes>
@{
    ViewBag.Title = "Электронный дневник";
}
<h3>Классы</h3>
<table class="table">
    <tr>
        <td>Название класса</td>
    </tr>
    @foreach (var stclass in Model)
    {
        <tr>
            <td><a asp-action="Index" asp-controller="Students" asp-route-name="@stclass.Name">@stclass.Name</a></td>
            <td>
            <a asp-action="Delete" asp-controller="Home" asp-route-name="@stclass.Name">Удалить</a>
            </td>
        </tr>
    }
</table>
<a asp-action="Add">Добавить</a>


