@model IEnumerable<TestProject.Models.Classes>
@{
    //ViewData["Title"] = "Список классов";
    Layout = null;
}
<!Doctype html>

<html>
<head>
    <title>Электронный дневник</title>
</head>
<body>
    <h3>Классы</h3>
    <table>
        <tr>
            <td>Название класса</td>
        </tr>
        @foreach (var stclass in Model)
        {
            <tr>
                <td>@stclass.Name</td>
            </tr>
        }
    </table>
</body>
</html>
