@model TestProject.Models.Subjects
@{
    ViewBag.Title = "Удаление предмета";
}

<div>
    <dl>
        <dt>Название</dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <div>
        <form asp-controller="Subjects" asp-action="Delete" asp-route-name="@Model.Name">
            <div class="form-group">
                <input type="submit" value="Удалить" />
            </div>
        </form>
    </div>
</div>
